$primary-color-dark: #222831;
$secondary-color-dark: #393e46;
$border-color-dark: #eeeeee;
$font-color-dark: #d08945;

$primary-color-light: #ffffff;
$secondary-color-dark: #f0f0f0;
$border-color-dark: #888888;

$white-text: #ffffff;
$black-text: #000000;
