.home {
  // height: 100vh;
  // width: 100vw;
  // overflow-x: hidden;
}

@media only screen and (max-width: 860px) {
  /* CSS rules for extra small devices */

  .home {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
}
